<!DOCTYPE html>
<html lang= "en">
    <head>
        <title> Payment Failed!</title>
    </head> 
    <h2><%= errorCode %>:<%= errorDesc%></h2>
    <div style ="display:flex;flex-direction:column">
    <a href = "http://127.0.0.1:8000"> Return to merchant page and fill form</a>
    <a href = "https://developer.2c2p.com/docs/response-code-payment"> Payment Response codes </a>
    </div>
</html>