<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body class="p-3 m-0 border-0 bd-example">
            
        <title>Merchant Testing Page</title>
        
    <div class="jumbotron text-center">
    <h1>2c2p Merchant Payment Gateway</h1>
    <p>2c2p is a full-suite payment platform trusted by global businesses. Learn about the 2c2p history and our payment acceptance and issuing solutions <a href="https://2c2p.com/about-us">here!</a></p>
    <main class="form-signin w-100 m-auto">
    <form action="/" method="POST">    
    <img class="mb-4" src="images/logo.png" alt="" width="130" height="77">
    <h1 class="h3 mb-3 fw-normal">Transaction Details</h1>
    <div class="">
    <div class="row justify-content-center">
    <div class="col-4">  
    <div class="form-floating">
    <input type="text" class="form-control" name="invoiceNo" id="floatingInput" placeholder="Invoice Number" required="">
    </div>
    <div class="invalid-feedback"> Valid merchant ID required. </div>
    <div class=" ">
    <input type="text" class="form-control" name="amount" id="floatingInput" placeholder="Amount" required="">
    </div>
    <div class="invalid-feedback"> Please enter an amount. </div>
    <div class="form-floating">
    <input type="text" class="form-control" name="myDescription" id="floatingInput" placeholder="Payment Description" required="">
    </div>
    <div class="invalid-feedback"> Please enter a payment description. </div>
        <select class="custom-select d-block w-100" name="currencyCode" required="">
            <option value=""> Currency Code... </option>
            <option>SGD</option>
            <option>USD</option>
            <option>EUR</option>
            <option>JPY</option>
            <option>CNY</option>
            <option>MYR</option>
            <option>KRW</option>
        </select>
        <div class="invalid-feedback"> Please select a currency code. </div>     
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </div>
    </div>
    </div>
    </form>
</main></div>
    <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
    </body>
</html>